# Ignore the directory for Visual Studio Code settings
.vscode/

# Ignore the /Config/dev.ini file
/Config/dev.ini

# Ignore all subdirectories inside public/img
/public/img/*/

# Python
# Ignore the python cache
*/__pycache__/
*.pyc

# Ignore the python virtual environnement
.venv/